body{
    margin: 0%;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    line-height: 1.6;
    /* межстрочный интервал */
    
    color: rgb(202, 199, 199);
}

*,
*:before,
*:after{
    box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6{
    margin: 0%;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.intro{
    width: 100%;
    height: 100vh;

    background: 
    url("./images/intro3.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
    color: rgb(202, 199, 199);
}

.intro_title:after{
    content: "";
    display: block;
    width: 650px;
    height: 3px;
    margin: 0px auto 0;

    background-color:  rgb(202, 199, 199);
}


/* Header */
.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000;
}

.header_inner{
    /* занимают крайнюю позицижю */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 35px;
    font-weight: 700;
    color: rgb(202, 199, 199);
}

.nav{
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;

    color: rgb(202, 199, 199);
    text-decoration: none;

    /* плавный переход текста */
    transition: color .2s linear;
}

.nav__link:hover{
    color: blanchedalmond;
}

/* Button */
.knopka{
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;

    border: 3px solid rgb(202, 199, 199);
    
    font-size: 18px;
    font-weight: 700;
    color: rgb(202, 199, 199);
    text-transform: uppercase;
    text-decoration: none;
    margin: 200px auto 0;
    border-radius: 5%;
    
    transition: background .2s linear, color .2s linear;
}

.knopka:hover{
    background-color: blanchedalmond;
    color: rgb(202, 199, 199);
}

/* Slider */
.slider{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    text-align: center;
}


.slider_items{
    width: 40%;

    font-size: 18px;
    color: rgb(202, 199, 199);
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
}

.slider_items:hover{
    color: blanchedalmond;
}

/* Section */
.section{
    padding: 80px 0;
}


.section--devices{
    
    padding-bottom: 0;
    background: url("./images/hon.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
}

.section_header{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto 40px;
    text-align: center;
    color: rgb(180, 28, 28);
}

.section_title{
    font-size: 30px;
    color: rgb(180, 28, 28);
}

.section__title{
    font-size: 30px;
    color: rgb(180, 28, 28);
}

.section_title::after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 10px auto 30px;

    background-color: rgb(202, 199, 199);
}

.section_text{
    font-size: 20px;
    color: rgb(180, 28, 28);
}

.section__text{
    font-size: 20px;
    color: rgb(180, 28, 28);
}

/* Photo */
.photo{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.prev_photo{
    width: 376px;
    position: relative;

    background-color: rgb(39, 39, 39);
}

.prev_photo:hover .photo_img{
    transform: translate3d(-10px, -10px, 0);
}

.prev_photo:hover .photo_img img{
    opacity: .2;
}

.prev_photo:hover .photo_text{
    opacity: 1;
}

.photo_img{
    background: linear-gradient(to bottom, rgb(82, 80, 80)
    ,rgb(143, 139, 139));

    transition: transform .1s linear;
}

.photo_img img{
    display: block;
    transition: opacity .1s linear;
}

.photo_text{
    width: 100%;

    color: rgb(202, 199, 199);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;

    top: 50%;
    left: 0;
    z-index: 2;
    transform: matrix3d(0, -50%, 0);
    transition: opacity .2s linear;
}

/* Statistics */
.statistics{
   background-color: rgb(39, 39, 39); 
}

.stat{
    display: flex;
}

.stat_item{
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid rgb(202, 199, 199);
    text-align: center;
    color: rgb(202, 199, 199);
}

.stat_item:last-child{
    border-right: 1px solid rgb(202, 199, 199);
}

.stat_text{
    font-size: 30px;
    color: rgb(202, 199, 199);
    text-transform: uppercase;
} 

/* End */
.end{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.end_img{
    display: block;
}

.end_img--end2{
    position: absolute;
    bottom: -90px;
    right: 0;
    z-index: 1;
}

.final{
    padding: 29px 0;
    background-color: black;
}

.text_fin{
    font-size: 20px;
    color: rgb(202, 199, 199);
}

@media screen and(max-width:1200px){
    .knopka{
        margin: 20px auto 0;
    }
}